<!DOCTYPE html>

<!--
	This file is rendered by express.js, when the rurl /chat/123456 is visited in a browser.
	It includes jQuery, socket.io.js (it is automatically served by the socket.io library), 
	and a few more JavaScript files that you should check out.
-->

<html>

<head>

	<title>PORTAL CSC</title>
	<link type="text/css" rel="stylesheet" href="../css/stylesheet.css" />
	<link href="https://fonts.googleapis.com/css?family=Open+Sans Condensed:300italic,300,700" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">

	<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>


</head>

<body>
	<header>
		<nav class="navbar navbar-light bg-faded" style="background-color: #031a3f;">
			<a class="navbar-brand" href="#" style="color:white">
		  <img src="../img/message-logo-icon.png" width="30" height="30" class="d-inline-block align-top" alt="">
		  * Comunicador Portal CSC * 
		</a>
		</nav>
	</header>
	<div class="container">
		<section class="section">
			<!-- These elements are displayed as white info cards in the middle of the screen -->

			<div class="connected row-fluid">
				<img src="../img/unnamed.jpg" id="creatorImage" />
				<div class="infoConnected">
					<h2>Quem é você?</h2>
					<br/>
					<form class="loginForm">
						<input type="text" id="yourName" placeholder="Seu apelido" /><br/>
						<input type="text" id="yourEmail" placeholder="Seu e-mail" /><br/>
						<input type="submit" id="yourEnter" value="ENTRAR" />						
					</form>
				</div>
			</div>

			<div class="personinside row-fluid">
				<img src="../img/unnamed.jpg" id="ownerImage" />
				<div class="infoInside">
					<h2>Chat with <span class="nickname-chat"></span></h2>
					<br/>
					<form class="loginForm">
						<input type="text" id="hisName" placeholder="Your nick name" /><br/>
						<input type="text" id="hisEmail" placeholder="Your email address" /><br/>
						<input type="submit" id="hisEnter" value="CHAT" />
					</form>
				</div>
			</div>
			
			<div class="invite-textfield">
				<h2>Opa, não há outras pessoas neste bate-papo!</h2>
				<h5>Compartilhe o link abaixo com seu amigo:</h5>
				<div class="link">
					<a title="Invite a friend" href="" id="link"></a>
				</div>
			</div>

			<div class="left">

				<img src="../img/unnamed.jpg" id="leftImage" />

				<div class="info">
					<h2><span class="nickname-left"></span> Saiu da sala.</h2>
					<h5>Convide outra pessoa para conversar enviando o mesmo link.</h5>
				</div>

			</div>

			<div class="toomanypeople">

				<h2>Opa, você não pode participar deste bate-papo!</h2>
				<h5>Já existem duas pessoas nele. Gostaria de criar uma nova sala <a title="New Room" href="/create" id="room">new room</a>?</h5>

			</div>

			<div class="nomessages">

				<img src="../img/unnamed.jpg" id="noMessagesImage" />

				<div class="info">
					<h2>Você está conversando com <span class="nickname-chat"></span>.</h2>
					<h5>Envie uma mensagem no formulário abaixo:</h5>
				</div>

			</div>

			<div class="chatscreen">

				<ul class="chats">
					<!-- The chat messages will go here -->
				</ul>

			</div>

		</section>

		<footer>
			<form id="chatform">
				<textarea id="message" placeholder="Escreva alguma coisa.."></textarea>				
				<input type="image" src="../img/send.jpg" alt="" style="width:70px;height:70px;">
				<!-- <input type="submit" id="submit" value="Enviar" /> -->
			</form>
		</footer>
	</div>
	<script src="../js/jquery.min.js"></script>
	<script src="../js/moment.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="../js/chat.js"></script>

</body>

</html>