<!DOCTYPE html>

<!-- 	
	This file is rendered by express.js, when the home url of the chat is opened in a browser.
	It doesn't do much, except showing the create button for the chat.
 -->

<html>
<head>
	<title>PORTAL CSC</title>
	<link type="text/css" rel="stylesheet" href="css/stylesheet.css" />
	<link href="https://fonts.googleapis.com/css?family=Open+Sans Condensed:300italic,300,700" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">

	<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
</head>
<body>

	<nav class="navbar navbar-light bg-faded" style="background-color: #031a3f;">
		<a class="navbar-brand" href="#" style="color:white">
		  <img src="img/message-logo-icon.png" width="30" height="30" class="d-inline-block align-top" alt="">
		  * Comunicador Portal CSC * 
		</a>
	  </nav>
	
	<section>
		<div class="homesection">			
			<a title="Create" href="/create" id="create">
				<div id="createbutton">
					<div id="little">Vamos criar uma sala de bate papo?</div>
					<div id="big">Iniciar Conversa</div>
				</div>
			</a>			
		</div>
	</section>

</body>
</html>
